
.root-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: red;
    padding: 3rem;
}

.root-container__header {
    display: flex;
    flex: 1;
    background-color: green;
}

.root-container__content {
    display: flex;
    flex: 8;
    background-color: blue;
    flex-direction: column;
}

.root-container__footer {
    display: flex;
    flex: 1;
    background-color: yellow;
}